.contact{
color: var(--text);   /* default text white */
padding:80px 20px;
text-align:center;
}

/* heading blue */

.contact h2{
font-size:32px;
margin-bottom:40px;
color:#38bdf8;
}

.contact-container{
display:flex;
flex-direction:column;
gap:20px;
align-items:center;
}

.contact-item{
display:flex;
align-items:center;
gap:12px;
font-size:18px;
}

.contact-item a{
text-decoration:none;
color:var(--text);
}

.contact-icon{
font-size:22px;
color:#38bdf8;
}

.contact-message{
margin-top:40px;
}

.message-btn{
padding:12px 25px;
background:linear-gradient(45deg,#6366f1,#38bdf8);
color:white;
border-radius:8px;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.message-btn:hover{
transform:translateY(-3px);
box-shadow:0 8px 20px rgba(0,0,0,0.2);
}