.experience-card{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:10px;
margin-bottom:20px;
}

/* header layout */

.exp-header{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

.exp-header h3{
margin:0;
}

/* year styling */

.exp-year{
font-weight:600;
color:#38bdf8;
}